[submodule "git-submodules/ginac"]
	path = git-submodules/ginac
	url = git://ginac.de/ginac.git
[submodule "git-submodules/cln"]
	path = git-submodules/cln
	url = git://github.com/asheplyakov/cln.git
